<!--
  Copyright 2014 Luca Capra <luca.capra@gmail.com>

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<script type="text/javascript">
    RED.nodes.registerType('ble-devices', {

        category: 'config',

        defaults: {
            ble_device_name: { value: "BLE device", required: true },
            ble_device_uuid: { value: "", required: true },
        },
        label: function() {
            return this.ble_device_name + "("+ this.ble_device_uuid +")";
        }
    });
</script>

<script type="text/x-red" data-template-name="ble-devices">

    <div class="form-row">
        <label for="node-config-input-ble_device_name"><i class="icon-bookmark"></i> Name</label>
        <input type="text" id="node-config-input-ble_device_name">
    </div>

    <div class="form-row">
        <label for="node-config-input-ble_device_uuid"><i class="icon-bookmark"></i> Device UUID</label>
        <input type="text" id="node-config-input-ble_device_uuid">
    </div>

</script>