<!--
  Copyright 2014 Luca Capra <luca.capra@gmail.com>

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->


<script type="text/x-red" data-template-name="BLEnotify">

  <div class="form-row">
     <label for="node-input-ble_notify_device"><i class="fa fa-tasks"></i> BLE Device</label>
    <input type="text" id="node-input-ble_notify_device" placeholder="">
  </div>

  <div class="form-row">
     <label for="node-input-ble_notify_char"><i class="fa fa-tasks"></i> Charateristic UUID</label>
    <input type="text" id="node-input-ble_notify_char" placeholder="0xFFE1">
  </div>

</script>

<!-- Next, some simple help text is provided for the node.                   -->
<script type="text/x-red" data-help-name="BLEnotify">
    <p>Receive notification from a specified characteristic</p>
</script>

<!-- Finally, the node type is registered along with all of its properties   -->
<script type="text/javascript">
    RED.nodes.registerType('BLEnotify', {
        category: 'advanced-input', // the palette category
        color: "#0076d6",
        defaults: {             // defines the editable properties of the node

            name: {value: ""}, //  along with default values.

            ble_notify_device: {value: "", type: "ble-devices"},
            ble_notify_char: {value: "", required: true}
        },
        inputs: 0, // set the number of inputs - only 0 or 1
        outputs: 1, // set the number of outputs - 0 to n
        icon: "bluetooth.png", // set the icon (held in public/icons)
        label: function() {      // sets the default label contents
            return this.name || this.topic || "BLEnotify";
        },
        labelStyle: function() { // sets the class to apply to the label
            return this.name ? "node_label_italic" : "";
        }
    });
</script>
